<% include head %>

<% include nav %>
<body>
<div id="photosWrapper">
	<h1>A node.js voting game -- is it electric?</h1>
	<div id="photo">
	</div>
	<div id="button-holder col-sm-8 col-sm-offset-2">
		<form class="voteButton" action="electric" method="post">
			<input type="hidden" name="photo" value="<%=carImage%>">
			<input type="submit" class="btn btn-info" value="Electric!">
		</form>
		<form class="voteButton1" action="notElectric" method="post">
			<input type="hidden" name="photo" value="<%=carImage%>">
			<input type="submit" class="btn btn-info" value="Not Electric">
		</form>
	</div>
	</div><br>
<img src= images/<%=carImage%> class='images'>
	
<% include footer %>
</body>