<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="nav-bar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle='collapse' data-target='#bs-example-navbar-collapse' aria-expanded='false'>
					<span class="sr-only"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
			<li>
				<a class="active" href="./">
					<span class="glyphicon glyphicon-print"></span> Vote!
				</a>
			</li>
			<li>
				<a class="active" href="./standings">
					<span class="glyphicon glyphicon-sort-by-attributes-alt"></span> Standings
				</a>
			</li>
			<li>
				<a class="active" href="./add">
					<span class="glyphicon glyphicon-plus"></span> Add Pic
				</a>
			</li>
			<li>
				<form class="new-user" action="./reset" method="post">
					<!-- <span class="glyphicon glyphicon-user space"></span> -->
					<input class="user-input" type="submit" value="New User"/>
				</form>
			</li>
			<li>
				<form class="new-user" action="./reset" method="post">
					<!-- <span class="glyphicon glyphicon-refresh space"></span> -->
					<input class="user-input" type="submit" value="Reset Images"/>
				</form>
			</li>
      </ul>
      </form>
​
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
		</div>
	</nav>

